.conteudo-tabela{
    background-color: rgb(49, 49, 49);
    padding: 5px;
    height: 250px;
    width: 600px;
    overflow-y:scroll;
    border-radius: 10px;
}
/*----------barra scroll---------------*/
.conteudo-tabela::-webkit-scrollbar {
    width: 10px; 
  }
  .conteudo-tabela::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   
  /* Handle */
  .conteudo-tabela::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .conteudo-tabela::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 17, 17); 
    border-radius: 10px;
  }
  /*----------barra scroll---------------*/

.top {
    display:fixed;
    margin-bottom: 2px;
}
h3{
  color: rgb(170, 17, 17);
}
table{
    background-color: rgb(32, 32, 32);
    width: 95%;
    border-width: 5px;
    border-radius: 5px;
}
tr{
    background-color: rgb(170, 17, 17);
    font-size: 18px;
}
td{
    background-color:rgb(51, 51, 51);
    padding: 5px;
    font-size: 18px;
    color: black;
}
td:hover{
  background-color: rgba(170, 17, 17, 0.568);
  font-weight: bolder;
}
.bt{
  background-color: rgb(170, 17, 17);
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bolder;
  margin-right: 150px;

}
.bt:hover{
  color:white; 
  background-color:rgb(123, 12, 12);
}
