* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
}

.recuperarSenha-container {
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.4);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1f20;
    border-radius: 15px;
    border: 1px solid #1a1919;
    width: 460px;
    padding: 25px 0;
}

.container-dados {
    display: flex;
    flex-direction: column;
}

span a{
    color: #ffffff;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius:10px;
    border: 1px solid #858282;
    box-sizing: border-box;
}

label{
    color: #fff;
}