
.silide-container{
    max-width: 1120px;
    width: 100%;
    background-color: aliceblue;  
    padding: 40px 0; 
   
}
.slide-content{
    margin: 0 40px;

}
.card{
    border-radius: 25px;
    background-color: rgb(31, 31, 31);
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(185, 7, 7);
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    right: 0;
    bottom: -40px;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgb(185, 7, 7);
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: rgb(31, 31, 31);
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px  rgb(90, 4, 4);
    padding: 1px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0);
}
.name{
    font-size: 18px;
    color: rgb(131, 131, 131);
    font-weight: bolder;
}
.description{
    font-size: 14px;
    color: white;
    text-align: justify;
}
.button{
    border: none;
    font-size: 16px;
    color: black;
    background-color: rgb(185, 7, 7);
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    margin: 14px;
    cursor: pointer;
    translate: all 0.3s ease;
}
.button:hover{
    background-color: rgb(143, 8, 8);
}